<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.webservice.product.dao.BatchModifyMapper">

    <insert id="addSupervise" parameterType="com.hdsx.webservice.product.bean.batch.TbWtdcBatch">
       INSERT INTO tb_wtdc_task
        (
          "id",
          "surveycode",
          "title",
          "remark",
          "plantime",
          "estimatetime",
          "status",
          "creater",
          "createtime"
        )
        VALUES (
           #{id},
           #{surveycode},
           #{title},
           #{remark},
           TO_TIMESTAMP(#{plantime}, 'YYYY-MM-DD HH24:MI:SS'),
           TO_TIMESTAMP(#{estimatetime}, 'YYYY-MM-DD HH24:MI:SS'),
           #{status},
           #{creater},
           NOW()
        )
    </insert>

    <update id="updateSupervise" parameterType="com.hdsx.webservice.product.bean.batch.TbWtdcBatch">
        UPDATE tb_wtdc_task SET
            "surveycode" =#{surveycode},
            "title"      =#{title},
            "remark"     =#{remark},
            "plantime"   = TO_TIMESTAMP(#{plantime}, 'YYYY-MM-DD HH24:MI:SS'),
            "estimatetime" = TO_TIMESTAMP(#{estimatetime}, 'YYYY-MM-DD HH24:MI:SS'),
            "creater"    = #{creater},
            "updatetime" = now()
       WHERE id = #{id}
    </update>

    <delete id="deleteSupervise">
       delete from tb_wtdc_task where id in
        <foreach collection="array" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <update id="deleteSuperviseTeam">
        UPDATE tb_team SET
         "surveyid"  = ''
        WHERE id in
        <foreach collection="array" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="deleteTeamListt">
        UPDATE tb_team SET
        "surveyid"  = ''
        WHERE surveyid = #{surveyid}
    </update>

    <update id="InsertBatchTeam" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            UPDATE tb_team SET
            "surveyid" = #{item.surveyid}
            WHERE id = #{item.id}
        </foreach>
    </update>

    <update id="resetBatchTeam" parameterType="java.lang.String">
        UPDATE tb_team SET
        "surveyid"  = null
        WHERE surveyid = #{id}
    </update>

    <update id="enable" parameterType="String">
        UPDATE tb_wtdc_task SET
                                starttime = NOW(),
                                status = 1,
                                endtime = null
        WHERE id = #{id}
    </update>

    <update id="disable" parameterType="String">
        UPDATE tb_wtdc_task SET
                                "endtime" = NOW(),
                                "status" = 2
        WHERE id = #{id}
    </update>

    <select id="getStart" resultType="int">
        SELECT COUNT(1) FROM tb_wtdc_task WHERE status = 1
    </select>

    <select id="users" parameterType="String"
            resultType="String">
        SELECT
            qx.id
        FROM
            tb_user_system_qx qx
                LEFT JOIN  tb_user_info info ON qx.userid = info. ID
                LEFT JOIN tb_role roles ON roles.id = qx.roleid
                LEFT JOIN tb_team_member members ON members.userid = info.id
                LEFT JOIN tb_team tem ON tem.id = members.teamid
                LEFT JOIN tb_wtdc_task_info task ON tem.id = task.teamid  WHERE task.dctaskid = #{id} GROUP BY qx.id
    </select>

    <update id="updateUsers" parameterType="java.util.List">
        UPDATE tb_user_system_qx SET
        roleid = temproleid where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </update>
</mapper>