<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hdsx.webservice.product.dao.SupervisionDFModifyMapper">

    <select id="searchSupervisionDFQDN" parameterType="java.lang.String" resultType="java.lang.String">
        select id from tb_wtdc_dfss_qdn where qdnid = #{qdnid}
    </select>

    <insert id="addSupervisionDFQDNModify" parameterType="com.hdsx.webservice.product.bean.specialsupervision.qdn.request.SupervisionDFQDNModifyRequest">
        insert into tb_wtdc_dfss_qdn (id,qdnid,ssyj,bz,createtime,createrid)
            values (#{id},#{qdnid},#{ssyj},#{bz},now(),#{createrid})
    </insert>

    <update id="updateSupervisionDFQDNModify" parameterType="com.hdsx.webservice.product.bean.specialsupervision.qdn.request.SupervisionDFQDNModifyRequest">
        update tb_wtdc_dfss_qdn set
          <if test="qdnid != null and qdnid != ''">
              qdnid = #{qdnid},
          </if>
          <if test="ssyj != null">
              ssyj = #{ssyj},
          </if>
          <if test="bz != null">
              bz = #{bz},
          </if>
          <if test="createrid != null and createrid != ''">
              createrid = #{createrid},
          </if>
          createtime = now()
        where id = #{id}
    </update>

    <select id="searchSupervisionDFQDW" parameterType="java.lang.String" resultType="java.lang.String">
        select id from tb_wtdc_dfss_qdw where qdwid = #{qdwid}
    </select>

    <insert id="addSupervisionDFQDWModify" parameterType="com.hdsx.webservice.product.bean.specialsupervision.qdw.request.SupervisionDFQDWModifyRequest">
        insert into tb_wtdc_dfss_qdw (id,qdwid,ssyj,bz,createtime,createrid)
          values (#{id},#{qdwid},#{ssyj},#{bz},now(),#{createrid})
    </insert>

    <update id="updateSupervisionDFQDWModify" parameterType="com.hdsx.webservice.product.bean.specialsupervision.qdw.request.SupervisionDFQDWModifyRequest">
        update tb_wtdc_dfss_qdw set
            <if test="qdwid != null and qdwid != ''">
                qdwid = #{qdwid},
            </if>
            <if test="ssyj != null">
                ssyj = #{ssyj},
            </if>
            <if test="bz != null">
                bz = #{bz},
            </if>
            <if test="createrid != null and createrid != ''">
                createrid = #{createrid},
            </if>
            createtime = now()
        where id = #{id}
    </update>
</mapper>