<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hdsx.webservice.product.dao.ProductMapper">

    <insert id="addTeam" parameterType="com.hdsx.webservice.product.bean.team.request.TeamAddRequest">
        INSERT INTO tb_team
        ("id",
         "teamname",
         "creater",
         "createtime",
         "createrid",
         "city",
         "surveyid")
        VALUES (#{id},
                #{teamname},
                #{creater},
                now(),
                #{createrid},
                #{city},
                #{surveyid})
    </insert>

    <update id="updateTeam" parameterType="com.hdsx.webservice.product.bean.team.request.TeamAddRequest">
        UPDATE tb_team SET
        "creater" = #{creater},
        <if test="teamname !=null">
            "teamname" = #{teamname},
        </if>
        "createtime" = now() ,
        "createrid"= #{createrid},
        <if test="surveyid !=null">
            "surveyid" = #{surveyid},
        </if>
        "city" = #{city}
        WHERE id = #{id}
    </update>

    <insert id="addTeamMember" parameterType="com.hdsx.webservice.product.bean.team.TbTeamMember">
        INSERT INTO tb_team_member
        ("id",
         "teamid",
         "userid",
         "createtime",
         "headman", score)
        VALUES (#{id},
                #{teamid},
                #{userid},
                NOW(),
                #{headman},
                #{score})
    </insert>

    <delete id="deleteTeam">
        delete from tb_team where id in
        <foreach collection="array" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteTeamMember">
        delete from tb_team_member where id in
        <foreach collection="array" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <delete id="deleteTeamMemberByTeamId">
        delete from tb_team_member where teamid in
        <foreach collection="array" item="item" index="index" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getTeamNameOrSurveyid" parameterType="String"
            resultType="com.hdsx.webservice.product.bean.team.response.TeamNameSurveyidResponse">
        SELECT teamname, surveyid
        FROM tb_team
        WHERE id = #{id};
    </select>

    <select id="getTeamMembersForTeamid" parameterType="String"
            resultType="com.hdsx.webservice.product.bean.team.TbTeamMember">
        SELECT *
        FROM tb_team_member
        WHERE teamid = #{teamid};
    </select>

    <delete id="deleteTeamMemberT">
        delete
        from tb_team_member
        where teamid = #{id}
    </delete>
</mapper>